$primary-color: #0ec8cb;
$background: rgba(15, 23, 42, 1);

*, *::before, *::after {
    box-sizing: border-box;
}

*, :after, :before {
    box-sizing: border-box;
    border: 0 solid #e5e7eb;
}

body {
    background: $background !important;
    color: #4c4e52;
}

.container {
    width: 80%;
    margin: 0 auto;
}

h1 {
    font-size: 20px;
    font-weight: bold;

    &.title::before {
        content: " ";
        background: #000;
        height: 8px;
        width: 8px;
        border-radius: 50%;
        display: block;
        position: absolute;
        top: 35%;
        left: -15px;
    }
}

header {
    margin: 35px 0;
    padding: 0 30px;
    background: #fff;
    border: 2px solid $primary-color;
    border-radius: 7px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 14px rgba(0,0,0,.05);

    .nav {
        width: 60%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 100;

        a {
            font-size: 15px;
            //border-bottom: 1px solid rgba(0,0,0,.05);
            transition: .15s ease-in-out;
            opacity: .7;

            &:hover {
                opacity: 1;
                color: $primary-color;
                //border-bottom-color: rgba(0,0,0,1);
            }
        }

    }
}

a {
    font-size: 15px;
    transition: .15s ease-in-out;
    opacity: .7;

    &:hover {
        opacity: 1;
    }
}

.form-control {
    width: 100%;
    height: 41px;
    padding-left: 15px;
    outline: none;
    border: 2px solid $primary-color;
}

.shadow {
    box-shadow: 0px 0px 14px rgba(0,0,0,.05);
}
.no-shadow {
    box-shadow: none;
}

.grouped-form {
    display: flex;
    justify-content: start;
}

.mt-1 {
    margin-top: 5px;
}
.mt-2 {
    margin-top: 10px;
}


.btn {
    padding: 9px 25px;
    font-size: 15px;
    font-weight: 500;
}

.btn-primary {
    background: #000;
    color: #c0c0c0;
    transition: .2s ease;

    &:hover {
        background: #1e1e1e;
        color: #fff;
    }

    &:active {
        background: #0c0c0c;
    }
}

.flex {
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
}

.items-center {
    align-items: center;
}


.price-item {
    margin: 35px 0;
    padding: 15px 60px;
    background: #fff;
    border-radius: 7px;
    box-shadow: 0px 0px 14px rgba(0,0,0,.05);
    height: fit-content;
    min-height: 50px;
    border: 2px solid rgba(0,0,0,1);

    .img-block {
        width:150px;display: flex;justify-content: center;align-items: center;margin-right: 30px;

        img {
            width: auto;margin-right: 50px;height: auto;
        }
    }

    .content {
        display: flex;
        align-items: center; /* Центрирование по вертикали */
        justify-content: space-between; /* Равномерное распределение между элементами */

        .desc {
            /* Высоту можно убрать, чтобы контент рос по мере необходимости */
            flex-grow: 1; /* Растягиваем .desc, чтобы занять доступное пространство */
            margin-top: 0; /* Может быть удалено, в зависимости от ваших предпочтений */
            align-self: start;
        }
    }

    .prices {
        margin-left: 15px;
        margin-top: 5px;
        border-left: 2px solid $primary-color;
        padding-left: 15px;
    }
}


@media (max-width: 800px) {
    header {
        .nav {
            display: none;
        }
    }

    .price-item {
        padding: 15px 15px;

        .content {
            flex-direction: column;

            .img-block {
                align-items: start;
                justify-content: center;
                width: 100%;
                margin-right: 0;
                margin-bottom: 35px;

                img {
                    max-width: 100px;
                    margin-right: 0;
                }
            }

            p {
                margin-bottom: 5px;
            }
        }
    }
}

footer {
    width: 100%;
    height: fit-content;
    padding: 30px 0;
    background: #000;
    position: relative;
    bottom: 0;
    left: 0;
    color: #fff;

    .container {
        display: flex;
        justify-content: space-between;

        .pre-title {
            margin-bottom: 10px;
        }

        .footer__column {
            display: flex;
            flex-direction: column;
            width: 350px;

            a {
                line-height: 16px;
                margin-bottom: 7px;
            }
        }
    }

    h2 {
        font-size: 24px;
    }
}


/*MENU*/

.left-menu
{
    position: fixed;
    left: 0;
    width: 300px;
    height: 100vh;
    background: #fff;
    z-index: 99;
    display: flex;
    box-shadow: 0px 0px 14px rgba(0,0,0,.05);
}

.menu-container
{
    width: 90%;
    margin: 50px auto;
    padding: 0;
}

.menu-subcontainer
{
    padding: 0;
    width: 90%;
}

.menu-category
{
    border-bottom: 1px solid rgba(0,0,0,.25);

}
.menu-container li
{
    display: block;
    width: 100%;
    padding: 5px 0;
    margin: 10px 0;
    cursor: pointer;
}

.menu-container i
{
    margin-right: 5px;
}

.select-parser {
    display: flex;
    justify-content: start;
    margin-top: 10px;

    button {
        margin-right: 15px;
        width: 150px;
        background: rgba(0,0,0,.05);
        height: 40px;
        border-radius: 7px;
        font-size: 15px;
        font-weight: 600;

        &.active {
            background: rgba(0,0,0,1);
            color: #fff;
        }
    }
}

.parser-block {
    display: none;

    &.show {
        display: block;
    }
}

.select-parser {
    display: flex;
    justify-content: start;
    margin-top: 10px;

    button {
        margin-right: 15px;
        width: 150px;
        background: rgba(0,0,0,.05);
        height: 40px;
        border-radius: 7px;
        font-size: 15px;
        font-weight: 600;

        &.active {
            background: rgba(0,0,0,1);
            color: #fff;
        }
    }
}

.parser-block {
    display: none;

    &.show {
        display: block;
    }
}
